[Desktop Entry]
Version=1.0
Icon=net.playhi.dde-file-manager-menu-quick-hash-plugin-gtkhash
Type=Application
Categories=Utility;
Name=文件管理器右键哈希（套GtkHash）
Name[zh_CN]=文件管理器右键哈希（套GtkHash）
Exec=dedit "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin-gtkhash/files/bin/readme.txt"
Terminal=false
